<div class="bg-img">
    <div class="second">
        <div class="third">
            <div class="fourth">
                <div class="fifth">
                    <H1 class="login">**LOGIN**</H1>
                    
                </div>
                <form>
                    <label for="email" Class="labell">EMAIL</label>
                    <br><br>
                    <input  type="text" id="email" placeholder="enter ur email" class="boxess"><br><BR>
                    <label for="password" Class="labelll">PASSWORD</label>
                    <br><br>
                    <input type="text" id="password" placeholder="enter ur password" class="boxess"><br>



                </form>
            </div>
        </div>
    </div>
</div>
