

<div class="first">
 
<div class ="second">
    <form>
        
        <div class="container"> 
            <p  style="padding: 10px;color:white;background-color:#4CAF50;text-align: center;"><B>EMPLOYEE LOGIN</B></p>
         
            <label for="username">Username : </label> 
            <input type="text" id="username" placeholder="Enter Username" name="username" required>
            <label for="password">Password : </label> 
            <input type="password" id="password" placeholder="Enter Password" name="password" required>
            <button type="submit">Login</button>
           <a routerLink='/myfirst'> <button type="button" class="cancelbtn"> back</button></a> 
           
        </div> 
    </form>   
</div>
</div>
