

<div class="first">
 
<div class ="second">
    <form>
        
        <div class="container"> 
            <p  style="padding: 10px;color:white;background-color:#4CAF50;text-align: center;"><B>EMPLOYEE LOGIN</B></p>
         
            <label for="username">Email : </label> 
            <input type="text" id="username" placeholder="Enter Email" name="username"  [(ngModel)]="employee.employeeEmail" required>
            <label for="password">Password : </label> 
            <input type="password" id="password" placeholder="Enter Password" name="password" [(ngModel)]="employee.employeePassword" required>
            <button type="submit" (click)="employeeLogin(a,b)" >Login</button>
           <a routerLink='/fooddashboard'> <button type="button" class="cancelbtn"> back</button></a> 
           <h1>{{employee.employeeEmail}}</h1>
    
          
           
        </div> 
    </form> 
   
</div>


