<meta name="viewport" content="width=device-width, initial-scale=1.0">
<div class="home1">
  <div class="home2">
     
       <h1>FOODERZ</h1>(we dont want to keep you hungry)
     <div class="home3">
      <a href=# ></a>

     <a href="#about">Aboutus    </a>
     <a style=color:black>...</a>
     <a href="#conatct"> contact</a>
    </div>

    
  </div>

  
  
  
  
  <div class="bg-img">
    
    
    <form  class="container">
      <nav>
      <a routerLink='/loginemployee' ><button type="submit" class="first" >Are you an employee?</button></a>
  
      <br><br>
  
      <a routerLink="/logincustomer" ><button type="submit" class="second">Are you a customer?</button></a>
    </nav>
    </form>

  </div>
  
</div>


<div class="aboutus" id="about">
  <h1>#aboutus</h1>
  <p>
    Restaurants are very important in the life of each of us; many of us resort to dining in restaurants because of the delay outside the home or the need to break the routine of the daily life and taste new foods and flavors.

    We all had a special impression of some of the restaurants we visited.  Some places had a positive character and some drive you to think about boycott all restaurants altogether.
    
    I went with my brother and his son to a fast food restaurant in our area. My nephew came to enjoy playing in the play area of ​​the restaurant and get the new game.
    
    The yellow and red colors at the restaurant draw my attention. What made me search online for the reason why these two colors were chosen only in restaurants?
    
    After searching the internet, I found some theories.
    
    The most likely theory is that there is a study on the effect of colors on human soul, where the red color tends to open the appetite while the yellow color gives a sense of happiness and familiarity with the place and people. Which cause you think of returning to the place again.
 
  </p>
  <div class="contact" id="conatct">
    <h1>Queries && contact </h1>
    <p> fooderz@gmail.com is our mail for any quries you can mail us ..our support will help you...reponse will be given within 24 hours of time</p>
  </div>
  
</div>




