<meta name="viewport" content="width=device-width, initial-scale=1.0">
<div class="home1">
  <div class="home2">
     
       <h1>FOODERZ</h1>(we dont want to keep you hungry)
     <div class="home3">
      <a href=# ></a>

     <a href="#about">Aboutus    </a>
     <a href=#> contact</a>
    </div>

    
  </div>

  
  
  
  
  <div class="bg-img">
    
    
    <form  class="container">
      <nav>
      <a routerLink='/loginemployee' ><button type="submit" class="first" >Are you an employee?</button></a>
  
      <br><br>
  
      <a routerLink="/logincustomer" ><button type="submit" class="second">Are you a customer?</button></a>
    </nav>
    </form>

  </div>
  
</div>


<div class="aboutus" id="about">
  <h1>#aboutus</h1>
  <p>
    Welcome to fooderz, glad to see you.we the fooderz resturant providing tasty and mouthwatering foods.Just signup enjoy our services
    A restaurant (sometimes known as a diner) is a place where cooked food is sold to the public, and where people sit down to eat it. It is also a place where people go to enjoy the time and to eat a meal.

    Some restaurants are a chain, meaning that there are restaurants which have the same name and serve the same food. McDonald's, Burger King, and Pizza Hut are examples of chain restaurants that are all over the world. These restaurants serve fast food, that is, inexpensive food, prepared and served quickly. At some, you do not have to even get out of the car to eat. You can pay and get your order from a window. These places are called drive-throughs.
    
    There are also chain restaurants that serve slightly more expensive food. They are called fast casual restaurants. Applebee's and Perkins are examples of this type of chain restaurant.
    
    Haute cuisine or 'fine dining' is found in a guide, such as the Michelin Guide, the most famous restaurant guide in the world. Their 3-star rosettes are given only to restaurants with the highest standards of cooking and service. Interestingly, the Guide gives more 3-stars to Tokyo and Kyoto than to Paris, London and New York together.[1][2] Traditionally, the restaurants of top hotels such as the Hotel de Paris in Monte Carlo or the Hôtel Ritz Paris were the main places recognized for fine dining. Today, most Michelin Guide restaurants are separate establishments
 
    A restaurant (sometimes known as a diner) is a place where cooked food is sold to the public, and where people sit down to eat it. It is also a place where people go to enjoy the time and to eat a meal.

    Some restaurants are a chain, meaning that there are restaurants which have the same name and serve the same food. McDonald's, Burger King, and Pizza Hut are examples of chain restaurants that are all over the world. These restaurants serve fast food, that is, inexpensive food, prepared and served quickly. At some, you do not have to even get out of the car to eat. You can pay and get your order from a window. These places are called drive-throughs.
    
    There are also chain restaurants that serve slightly more expensive food. They are called fast casual restaurants. Applebee's and Perkins are examples of this type of chain restaurant.
    
    Haute cuisine or 'fine dining' is found in a guide, such as the Michelin Guide, the most famous restaurant guide in the world. Their 3-star rosettes are given only to restaurants with the highest standards of cooking and service. Interestingly, the Guide gives more 3-stars to Tokyo and Kyoto than to Paris, London and New York together.[1][2] Traditionally, the restaurants of top hotels such as the Hotel de Paris in Monte Carlo or the Hôtel Ritz Paris were the main places recognized for fine dining. Today, most Michelin Guide restaurants are separate establishments
 
 
 
  </p>
  <div class="contact" id="conatct">
    <p>for any queries </p>
  </div>
  
</div>




