<div class="first">
 
    <div class ="second">
        <form>
            
            <div class="container"> 
                
                <p for="username" style="padding: 10px;color:white;background-color:#4CAF50;text-align: center;"><B>*CUSTOMER LOGIN*</B></p>
             
                <label for="username"><b>Username : </b></label> 
                <input type="text" id="username" placeholder="Enter Username" name="username" required>
                <label for="password"><b>Password :</b> </label> 
                <input type="password" id="password" placeholder="Enter Password" name="password" required>
                <button type="submit">Login</button>
               
               <a routerLink='/signupcustomer'><button type="button" class="signup">signup</button></a>
               <a routerLink='/myfirst'> <button type="button" class="cancelbtn"> back</button> </a>

               
            </div> 
        </form>   
    </div>
    </div>
    
