<div class="first">
 
    <div class ="second">
        <form>
            
            <div class="container"> 
                
                <p  style="padding: 10px;color:white;background-color:#4CAF50;text-align: center;"><B>*CUSTOMER SIGNUP*</B></p>
             
                <label for="firstname"><b>FIRST NAME : </b></label> 
                <input type="text" id="firstname" placeholder="Enter firstname" name="firstname" required>
                <label for="lastname"><b>LAST NAME : </b></label> 
                <input type="lastname" id="lastname" placeholder="Enter lastname" name="lastname" required>
                <label for="username"><b>USER NAME : </b></label> 
                <input type="username" id="username" placeholder="Enter username" name="username" required>

                <label for="password"><b>PASSWORD :</b> </label> 
                <input type="password" id="password" placeholder="Enter Password" name="password" required>
                <button type="submit">create an account</button>
                <a routerLink='/logincustomer'> <button type="button" class="cancelbtn"> back</button></a> 
               
               
               
            </div> 
        </form>   
    </div>
    </div>
    
