
    <div class="jumbotron">
        <h1 class="display-4">food dashboard</h1>
        
        <hr class="my-4">
      </div>
      
      <div class="container">
        <nav class="nav">
          <li class="nav-item">
            <a class="nav-link" routerLink="/addfood">Add Food ITEMS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/viewfooditems">VIEW FOOD ITEMS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/deletefood">Delete food items</a>
          
        </nav>
      </div>
      
      