<h1>View order details</h1>

<table class="table table-light">
    <thead class="thead-light">
        <tr>

            <th>Customername</th>
            <th>FoodName</th>
            <th>price</th>
            <th>avatar</th>
            <th>status</th>
            <!-- <th>delete</th> -->
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let order of orders" >

            <td>{{order.customer.userName}}</td>
            <td>{{order.food.foodName}}</td>
            <td>{{order.food.price}}</td>
            <td><img [src]="order.food.avatar"></td> 
            <td>orderplaced</td>
            <!-- <td><button class="btn btn-primary" (click)="deleteorder(order.orderId)">delete</button></td> -->

            </tr>              
    </tbody>
   
</table>




