<!-- <div class="jumbotron">
    <h1 class="display-3">Fooderz</h1>
    <p class="lead">Spring boot with angular  Fooderz</p>
    <hr class="my-2">
    <hr class="my-4">
   
</div>

<div class="container">
    
<nav class="navbar navbar-dark bg-dark">
 
    <li class="nav-item">
        <a class="nav-link" routerLink="/logincustomer">Login </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/viewCustomer">view customer</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/signup">sign up</a>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link" routerLink="/myfirst">View Players</a>
      </li> -->
  <!-- </nav>
</div> -->

<router-outlet></router-outlet> -->